$main-bg-color: #ED5E42;
$second-bg-color: #FF9E27;
$main-font-color: #040404;
$title-font-color: black;

$font-size: 18px;

$font-family: 'Roboto', sans-serif;
$font-family-title: 'Roboto Condensed', sans-serif;